<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <a href="tel:+79020604004"><i class="icon-phone-line"></i>+79020604004</a>
            <a href="javascript:void(0)" class="call call_js">Заказать звонок</a>
            <ul>
                <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                <li><a href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
                <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="icon-internet"></i></a></li>
            </ul>
            <a class="mail" href="mailto:indolls.info@gmail.com"><i class="icon-mail"></i>indolls.info@gmail.com</a>
            <span class="site"><i class="icon-global"></i> Сайт: <a href="javascript:void(0)">in-dolls.ru</a></span>
        </div>
    </div>
</footer>