<footer class="footer">
    <span class="circles1"></span>
    <div class="container">
        <div class="footer-top">
            <a class="tel" href="tel:+79020604004"><i class="icon-phone-line"></i>+79020604004</a>
            <div class="top-content">
                <a href="javascript:void(0)" class="call call_js">Заказать звонок</a>
                <ul>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/indolls.event/"><i class="icon-instagram"></i></a></li>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-internet"></i></a></li>
                </ul>
                <a class="mail" href="mailto:indolls.info@gmail.com"><i class="icon-mail"></i>indolls.info@gmail.com</a>
                <span class="site"><i class="icon-global"></i> Сайт: <a href="https://in-dolls.ru/">in-dolls.ru</a></span>
            </div>
        </div>
        <div class="footer-content">
            <div class="logo">
                <a href="javascript:void(0)"><img src="img/logo-footer.png" alt=""></a>
                <span>Лучшие ростовые куклы</span>
            </div>
            <div class="footer-menu">
                <div>
                    <h4>Меню</h4>
                    <ul>
                        <li><a href="#services">Наши услуги</a></li>
                        <li><a href="#our-characters">Наши персонажи и цены</a></li>
                        <li><a href="#portfolio">Портфолио</a></li>
                        <li><a href="#reviews">Отзывы</a></li>
                    </ul>
                </div>
                <div>
                    <h4>График работы</h4>
                    <strong>Пн. - Вс. : с 8 до 18.00</strong>
                    <p>Мы работаем каждый день и с радостью ждем Ваших звонков</p>
                </div>
                <div>
                    <h4>Контакты</h4>
                    <p>Россия Приморский край Владивостокул. Калинина 275В, 4 этаж</p>
                    <span>Skype: <a href="javascript:void(0)">Dkorvl</a></span>
                </div>
            </div>
        </div>
        <div class="copying">
            <p>2020 Все материалы данного сайта являются объектами авторского права. Копирование запрещено.</p>
            <ul>
                <li><a target="_blank" href="javascript:void(0)">Политика конфиденциальности</a></li>
                <li><span>Разработка сайта: </span><a target="_blank" href="javascript:void(0)">In-dolls</a></li>
            </ul>
        </div>
    </div>
</footer>