<div class="popup popup-thank">
    <span class="close-popup"></span>
    <div class="popup-thank">
        <h3>Спасибо за заявку</h3>
        <p>Мы в ближайшее время с вами свяжемся</p>
    </div>
</div> 
<!-- После того как форма отправляетьса на этот попап сделать так $('.popup-thank').fadeIn(500); -->

<div class="popup popup-contact">
    <span class="close-popup"></span>
    <div class="popup-content">
        <h3>Оставьте Ваши контакты</h3>
        <p>И мы свяжемся с Вами </p>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="E-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>

<div id="service1" class="popup popup-service">
    <span class="close-popup"></span>
    <div class="popup-content">
        <h3>Оставьте Ваши контакты 1</h3>
        <p>И мы свяжемся с Вами </p>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="E-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>

<div id="service2" class="popup popup-service">
    <span class="close-popup"></span>
    <div class="popup-content">
        <h3>Оставьте Ваши контакты 2</h3>
        <p>И мы свяжемся с Вами </p>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="E-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>

<div id="service3" class="popup popup-service">
    <span class="close-popup"></span>
    <div class="popup-content">
        <h3>Оставьте Ваши контакты 3</h3>
        <p>И мы свяжемся с Вами </p>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="E-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>

<div id="service4" class="popup popup-service">
    <span class="close-popup"></span>
    <div class="popup-content">
        <h3>Оставьте Ваши контакты 4</h3>
        <p>И мы свяжемся с Вами </p>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="E-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>

<div id="service5" class="popup popup-service">
    <span class="close-popup"></span>
    <div class="popup-content">
        <h3>Оставьте Ваши контакты 5</h3>
        <p>И мы свяжемся с Вами </p>
        <form>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="E-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="#top" class="logo"><img src="img/logo.png" alt=""></a>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="#services">Наши услуги</a></li>
                        <li><a href="#our-characters">Наши персонажи и цены</a></li>
                        <li><a href="#portfolio">Портфолио</a></li>
                        <li><a href="#reviews">Отзывы</a></li>
                    </ul>
                </nav>
                <div class="open-menu"><i class="icon-menu-2-line"></i>Меню
                    <ul>
                        <li><a href="#services">Наши услуги</a></li>
                        <li><a href="#our-characters">Наши персонажи и цены</a></li>
                        <li><a href="#portfolio">Портфолио</a></li>
                        <li><a href="#reviews">Отзывы</a></li>
                    </ul>
                </div>
                <a href="tel:+79020604004" class="tel"><i class="icon-phone-line"></i>+79020604004</a>
                <a href="javascript:void(0)" class="call call_js">Заказать звонок</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="header-mobile-menu">
            <span class="delete"></span>
            <a href="tel:+79020604004" class="tel-mobile"><i class="icon-phone-line"></i>+79020604004</a>
        </div>
        <ul>
            <li><a href="#services">Наши услуги</a></li>
            <li><a href="#our-characters">Наши персонажи и цены</a></li>
            <li><a href="#portfolio">Портфолио</a></li>
        </ul>
    </div>
</header>