
.icon-mail:before { content: '\e800'; } /* '' */
.icon-clapping:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-global:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-internet:before { content: '\e805'; } /* '' */
.icon-superhero:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-menu-2-line:before { content: '\e80b'; } /* '' */
.icon-phone-line:before { content: '\e80c'; } /* '' */
.icon-arrow-right:before { content: '\e80d'; } /* '' */